<div id="footer-86773148b4716cb53fde0d0915ce1b21">
    <footer id="appheader-footer" class="manifest footer">
        <div role="contentinfo" class="footer-words">Copyright ©2021 Awkhost, LLC. All Rights Reserved. 
            <a class="privacy-link" href="#" target="_blank" data-eid="uxp.hyd.int.pc.app_header.footer.privacy_policy.link.click">Privacy Policy
            </a>
        </div>
        <div id="gtm_privacy">

        </div>
    </footer>
</div>