    
    <section class="row">
        <div class="gb-row gb-row--center gb-domains__suggested-tlds gb-container" style="display: -webkit-inline-flex; margin-top: 120px;">
            <div class="gb-col-12 gb-col-md-auto gb-mb-3 gb-px-sm-3 gb-px-md-2">
                <span class="gb-featured-domain gb-featured-domain--small" datatype="anchor" >
                    <span class="gb-label gb-featured-domain__discount">15%<!-- -->&nbsp;off</span>
                    <div class="gb-featured-domain__header">
                        <a href="#" class="gb-h1 gb-featured-domain__title">.net</a>
                        <p class="gb-mb-0">Registration</p>
                    </div>
                    <div class="gb-featured-domain__price">
                        <div class="gb-featured-domain__price-wrapper">
                            <div class="gb-featured-domain__price--reqular">
                                <span>
                                    <span>$</span>12.98</span>/yr
                            </div>
                                <div class="gb-featured-domain__price--promo">
                                    <span><span>$</span>10.98</span>/yr
                                </div>
                            </div>
                        </div>
                </span>
            </div>
                <div class="gb-col-12 gb-col-md-auto gb-mb-3 gb-px-sm-3 gb-px-md-2" style="margin-left: -50px;">
                    <span class="gb-featured-domain gb-featured-domain--small" datatype="anchor" >
                        <div class="gb-featured-domain__header">
                            <a href="#" class="gb-h1 gb-featured-domain__title">.com</a>
                            <p class="gb-mb-0">Registration</p>
                        </div>
                        <div class="gb-featured-domain__price">
                            <div class="gb-featured-domain__price-wrapper">
                                <div class="gb-featured-domain__price--promo">
                                    <span><span>$</span>8.88</span>/yr
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="gb-col-12 gb-col-md-auto gb-mb-3 gb-px-sm-3 gb-px-md-2" style="margin-left: -50px;">
                    <span class="gb-featured-domain gb-featured-domain--small" datatype="anchor" >
                        <span class="gb-label gb-featured-domain__discount">29%<!-- -->&nbsp;off</span>
                        <div class="gb-featured-domain__header">
                            <a href="#" class="gb-h1 gb-featured-domain__title">.org</a>
                            <p class="gb-mb-0">Registration</p>
                        </div>
                        <div class="gb-featured-domain__price">
                            <div class="gb-featured-domain__price-wrapper">
                                <div class="gb-featured-domain__price--reqular"><span><span>$</span>12.98</span>/yr
                                </div>
                                <div class="gb-featured-domain__price--promo">
                                    <span><span>$</span>9.18</span>/yr
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="gb-col-12 gb-col-md-auto gb-mb-3 gb-px-sm-3 gb-px-md-2" style="width: 50px;">
                    <span class="gb-featured-domain gb-featured-domain--small" datatype="anchor">
                        <span class="gb-label gb-featured-domain__discount">29%<!-- -->&nbsp;off</span>
                        <div class="gb-featured-domain__header">
                            <a href="#" class="gb-h1 gb-featured-domain__title">.eu</a>
                            <p class="gb-mb-0">Registration</p>
                        </div><div class="gb-featured-domain__price">
                            <div class="gb-featured-domain__price-wrapper">
                                <div class="gb-featured-domain__price--reqular">
                                    <span><span>$</span>6.98</span>/yr
                                </div>
                                <div class="gb-featured-domain__price--promo"><span><span>$</span>4.98</span>/yr
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
        </div>
    </section>
    

    <section>
        <div id="id-5db3839d-607d-4925-b497-38cea61c5998" class="multi-column-container  fos container-fluid" data-track-name="Why_Choose_GoDaddy" data-track-promo-impression="" data-track-index="5" data-promo-id="5db3839d-607d-4925-b497-38cea61c5998" data-promo-name="why_choose_godaddy" data-creative-name="why_choose_godaddy" data-creative-slot="fos.cms.domains/domain_name_search.deepsee_mobile/1/main_content/5">
          <header class="section-header">
              <h2 class="heading">Why choose GoDaddy?</h2>
            With 80+ million domains under management, we have more experience than anyone. We'll make sure you find the right domain and that it's got a secure home online.
          </header>
        
            <div class="grid">
                <div id="id-083fa189-95a0-451a-964c-5ab9f6395ff4" class="multi-column-item fos">
                    <div class="image           " data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-image&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 235px;">
                            <img data-src="https://img1.wsimg.com/cdn/Image/All/Website/2/en-US/c7336b8f-eed9-4b84-ae98-7f5816f2192b/1-icon-number-1-domain-regiistrar-235x.png" alt="1 Icon Number 1 Domain Regiistrar 235X" src="https://img1.wsimg.com/cdn/Image/All/Website/2/en-US/c7336b8f-eed9-4b84-ae98-7f5816f2192b/1-icon-number-1-domain-regiistrar-235x.png">
                        </div>
                    <div class="item-content">
                        <div class="text-content">
                            <h3 class="titl" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-title&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 30px;">World's largest registrar</h3>
                            <div class="content" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-content&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 96px;">
                                More people trust us than any other domain provider. Since the right domain name is important, you want to choose the perfect one. Go with the world's largest registrar.
                            </div>
                        </div>
                    
                    </div>
                </div>
        
                <div id="id-72f1bc27-146a-41c2-80fa-5700dff012c5" class="multi-column-item fos">
                    <div class="image" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-image&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 235px;">
                    <img data-src="https://img1.wsimg.com/cdn/Image/All/Website/2/en-US/cf6e36a9-dafa-4dae-943a-61203c638f1e/2-icon-get-the-domain-you-want-235x.png" alt="2 Icon Get The Domain You Want 235X" src="https://img1.wsimg.com/cdn/Image/All/Website/2/en-US/cf6e36a9-dafa-4dae-943a-61203c638f1e/2-icon-get-the-domain-you-want-235x.png">
                    </div>
                <div class="item-content">
                    <div class="text-content">
                        <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-title&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 30px;">Widest selection on the web</h3>
                        <div class="content" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-content&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 96px;">
                            Every time you enter a name in our domain search box, our powerful engine searches the web's largest pool of names. There's no better place to find the right domain name for your business.
                        </div>
                    </div>
                
                </div>
                </div>
        
        
                <div id="id-4011d4d5-cb90-429f-8409-21f0b0c0bedd" class="multi-column-item fos">
                    <div class="image" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-image&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 235px;">
                    <img data-src="https://img1.wsimg.com/cdn/Image/All/Website/2/en-US/055f6451-99df-4580-bc4a-4e7494655de2/3-godaddy-award-winning-support-235x.png" alt="3 Godaddy Award Winning Support 235X" src="https://img1.wsimg.com/cdn/Image/All/Website/2/en-US/055f6451-99df-4580-bc4a-4e7494655de2/3-godaddy-award-winning-support-235x.png">
                    </div>
                    <div class="item-content">
                    
                        <div class="text-content">
                            <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-title&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 30px;">Award-winning support</h3>
                        <div class="content" data-same-size="{&quot;group&quot;:&quot;id-5db3839d-607d-4925-b497-38cea61c5998-content&quot;,&quot;match&quot;:&quot;height&quot;}" style="height: 96px;">
                            Stumped by. . .anything? Our smart, friendly domain experts are here to help. Call them at 020 7084 1810
                        </div>
                        </div>
                    
                    </div>
                </div>
        
        
            </div>
          </div>
    </section>

    <div id="id-0b65953f-233a-41b3-a3b3-0bcae6205734" class="rich-text-banner fos container-fluid" style="margin-top: 60px;">
        <h2 style="text-align: center;"><span class="heading">Find the domain that's specific to you.</span></h2>
      <p style="text-align: center;">
        <a href="https://uk.godaddy.com/domains/gtld-domain-names" data-track-name="gtld-domain-names_link" data-track-eid-click="" data-eid="fos.cms.domains/domain_name_search.deepsee_mobile/1/main_content.gtld_domain_names_link.click">
            See all our new domains.
        </a>
    </p>
      </div>
    