
<section class="section" id="pricing">
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <div class="multprod-header-container container text-center">
                        <div class="multprod-header">
                            <div class="multprod-title h1">
                              Choose the Advanced Email Security plan that’s for you.
                            </div>
                            <div class="multprod-subtitle">
                              <span class="h5"><strong>Already have email with us?</strong> <a href="https://productivity.godaddy.com/upgradeaddons/encryption" data-track-name="encryption_link" data-track-eid-click="" data-eid="fos.cms.email/secure_email.sales_layout/sales_main_content/3/secure_email_multi_product_module_multi_plan_module.encryption_link.click">Add Advanced Email Security to your plan</a> for just $4.99/mo per mailbox</span><br><br>
                            </div>
                        </div>
                    </div>

                    <!-- Subheading -->
                    <p>
                        Rapoo can be used to create anything from a small marketing page to a sophisticated website.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                   <h3>Email Essential </h3>
                    <div class="price-block">
                         <h2><small>$</small>13<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Online Essential </h3>
                    <div class="price-block">
                         <h2><small>$</small>23<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-8 col-md-6">
                <div class="pricing-box ">
                    <h3>Business Premium</h3>
                    <div class="price-block">
                         <h2><small>$</small>33<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                </div>
            </div>
            
        </div>
    </div>
</section>
