

<div id="id-34ac1563-5520-49f0-983e-e9bd4cdbcce9" data-id="" data-tile="marqueeLandingRebrandPro" class="vsc-marquee-module clickall-clickable-region" data-marquee-url="#plans" data-track-name="Landing_Page_Marquee_Module_marquee" data-track-promo-click="" data-track-index="1" data-promo-id="34ac1563-5520-49f0-983e-e9bd4cdbcce9" data-promo-name="landing_page_marquee_module_marquee" data-creative-name="landing_page_marquee_module_marquee" data-creative-slot="fos.cms.email/secure_email.sales_layout/sales_main_content/1" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.email/secure_email.sales_layout/sales_main_content/1.landing_page_marquee_module_marquee.click">
    <div class="cms-bg-desktop marquee-image  bg-position-center-top" data-lazy-content="bg-image" data-lazy-image="{&quot;src&quot;:&quot;https://img1.wsimg.com/Sitecore/5/C/mrq-photo-advanced-email-security-520.jpg&quot;,&quot;type&quot;:&quot;background&quot;,&quot;hideAtWidthBelow&quot;:992}" style="background-image: url(&quot;https://img1.wsimg.com/Sitecore/5/C/mrq-photo-advanced-email-security-520.jpg&quot;);">
      <div class="cms-bg-tablet marquee-image  bg-position-center-top" data-lazy-content="bg-image" data-lazy-image="{&quot;src&quot;:&quot;https://img1.wsimg.com/Sitecore/C/6/mrq-photo-advanced-email-security-tablet.jpg&quot;,&quot;type&quot;:&quot;background&quot;,&quot;hideAtWidthAbove&quot;:991}" style="background-image: url(&quot;https://img1.wsimg.com/Sitecore/C/6/mrq-photo-advanced-email-security-tablet.jpg&quot;);">
        <div class="cms-bg-mobile marquee-image lp-marquee-height-large bg-position-center-top  p-t-lg-20 p-b-lg-20 p-t-xs-20 p-b-xs-20 bg-light">
            <div class="marquee-mobile-img-container marquee-image hidden-md-up" data-lazy-content="bg-image" data-lazy-image="{&quot;src&quot;:&quot;https://img1.wsimg.com/Sitecore/1/9/mrq-photo-advanced-email-security-mobile.jpg&quot;,&quot;type&quot;:&quot;background&quot;,&quot;hideAtWidthAbove&quot;:767}" style="background-image: url(&quot;https://img1.wsimg.com/Sitecore/1/9/mrq-photo-advanced-email-security-mobile.jpg&quot;);">
           </div>
          <div class="marquee-content container no-shape">
              <div class="inner-marquee-content ">
                  <div class="col-sm-12  col-md-6 col-xl-5">
                      <div class="lp-paragraph-block">           
                          <div class="vsc-paragraph-block">
                      <div class="vsc-paragraph-child-block marquee-product-name lead font-primary-bold child-section- ">
                              <div>
                                  <div class="text-column">
                                          <h1>
                                              <span class="h3">Advanced Email Security</span>
                                          </h1>
                                  </div>  
                              </div>
                      </div>
                      <div class="vsc-paragraph-child-block marquee-product-text child-section- ">
                              <div>
                                  <div class="text-column">
                                      <span class="headline-brand h1">Get the protection you need. Send secure email, receive email securely.</span>
                                  </div>
                              </div>
                      </div>

                      <div class="vsc-paragraph-child-block child-section- ">
                          <div>
                          </div>
                      </div>

                      <div class="vsc-paragraph-child-block child-section- ">
                          <div>
                              <div class="vsc-button-block">
                                  <a id="id-" href="#plans" class="btn btn-primary " data-track-name="Primary_CTA" data-track-promo-click="" data-promo-id="d10b8cdb-1063-48c0-a061-8447ee61547e" data-promo-name="primary_cta" data-creative-name="primary_cta" data-creative-slot="fos.cms.email/secure_email.sales_layout/sales_main_content/1/landing_page_marquee_module_marquee" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.email/secure_email.sales_layout/sales_main_content/1/landing_page_marquee_module_marquee.primary_cta.click">
                                      Choose a plan
                                  </a>
                              </div>
                          </div>
                      </div>
                          </div>

      
                  </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <div id="id-3ca4b05d-6635-47dd-9de6-a71c7282f557" class=" hidden-sm-down vsc-secondary-nav-module mid-page-nav secondary-nav-large bg-light  bd-gray-light bd-b-1 " style="position: relative; top: inherit; width: inherit;">
          <div role="navigation" class="mid-page-nav-desktop collapse navbar-collapse hidden-sm-down">
              <div class="secondary-nav-underlaycontainer"></div>
                  <div class="container">
      
              <div class="navbar-right ">
                  <div class="button-container-small">
                      <a id="id-" href="https://uk.godaddy.com/configure?src=gs&amp;plan=office365-tier0&amp;term=12&amp;itc=slp_email_encryption" class="btn btn-primary       " data-track-name="Primary_CTA" data-track-promo-click="" data-promo-id="90808cf1-a8d8-4499-9ba0-4c01fe7eb2e6" data-promo-name="primary_cta" data-creative-name="primary_cta" data-creative-slot="fos.cms.email/secure_email.sales_layout/sales_main_content" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.email/secure_email.sales_layout/sales_main_content.primary_cta.click">
                          Get Started
                      </a>
                  </div>
      
              </div>
          </div>
    </div>
  </div>
