<section>
  <div id="id-8dddb8e3-5fa3-4a8f-821d-518c486db815" class="header-tray fos" data-track-name="account_tray" data-track-index="4">
    <a class="tray-toggle" data-track-name="account_tray_button" data-track-eid-click="" aria-label="My Account" aria-expanded="true" aria-haspopup="true" tabindex="0" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/1/marquee_section/marquee/basic_marquee/marquee_header/1/sales_header/utility_bar/4/account_tray.account_tray_button.click">
      <div class="left" data-track-name="left" data-track-index="1">
            <div class="top">
              <h2></h2>
            </div>
      </div>
  </div>
</section>
