<body id="top-header">
    <!-- LOADER TEMPLATE -->
    

    <!--<div id="page-loader">
            <div class="loader-icon fa fa-spin colored-border"></div>
        </div>
    -->
     <!-- /LOADER TEMPLATE -->

     
     <section class="page-banner-area page-pricing">
        <div class="overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12 text-center">
                    <div class="page-banner-content">
                        <h1 class="display-4 font-weight-bold">Our Pricing plan</h1>
                        <p>You can aso make your own custom plan model for your business.</p>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>


    
</body>