<body>
    <!-- LOADER TEMPLATE -->

<!--<div id="page-loader">
    <div class="loader-icon fa fa-spin colored-border"></div>
</div>-->


<section class="page-banner-area page-service">
    <div class="overlay"></div>
    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 col-12 text-center">
                <div class="page-banner-content">
                    <h1 class="display-4 font-weight-bold">Web & Cloud Hosting</h1>
                    <p>We'd love to talk about how we can help you.</p>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-7 pl-4 text-center">
                <div class="service-heading">
                    <h1>Get a better deal and start saving money today</h1>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-reload"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Backup System</h4>
                        <p>Our team are experts in matching you with the right provider.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-3 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-cloud"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Cloud Hosting</h4>
                        <p>Our team are experts in matching you with the right provider.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-3 col-md-6">
                <div class="service-block media ">
                    <div class="service-icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Web hosting</h4>
                        <p>Our team are experts in matching you with the right provider.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 mb-3 col-md-6">
                <div class="service-block media ">
                    <div class="service-icon">
                        <i class="ti-server"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Office Cloud</h4>
                        <p>Our team are experts in matching you with the right provider.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Web hosting</h4>
                        <p>Our team are experts in matching you with the right provider.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6">
                <div class="service-block media">
                    <div class="service-icon">
                        <i class="ti-cloud"></i>
                    </div>
                    <div class="service-inner-content media-body">
                        <h4>Office Cloud</h4>
                        <p>Our team are experts in matching you with the right provider.</p>
                    </div>
                </div>
            </div>
        </div>   
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="pl-3">Want to know more about this? <a href="#">Contact us</a></p>
            </div>
        </div>    
    </div>
</section>



<section class="section" id="services-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title mb-2 text-white">
                       Cloud Hosting 
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 text-white">
                        Rapoo can be used to create anything from a small marketing page to a sophisticated website.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                   <h3>Stnadard</h3>
                    <div class="price-block">
                         <h2><small>$</small>13<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-outline-dark btn-circled">Purchase Now</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Premium</h3>
                    <div class="price-block">
                         <h2><small>$</small>23<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Premium</h3>
                    <div class="price-block">
                         <h2><small>$</small>23<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Premium</h3>
                    <div class="price-block">
                         <h2><small>$</small>23<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Premium</h3>
                    <div class="price-block">
                         <h2><small>$</small>23<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="pricing-box">
                    <h3>Premium</h3>
                    <div class="price-block">
                         <h2><small>$</small>23<span>monthly</span></h2>
                    </div>

                    <ul class="price-features list-unstyled">
                        <li>Unlimited Domain</li>
                        <li>Unmetered Bandwidth</li>
                        <li>Free SSL Certificate </li>
                        <li>20 Email Subscription</li>
                        <li>SSD Hosting</li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-circled">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="row">
        <div class="col-md-4">
            <h3 class="section__title">FAQ</h3> 
            <p> Frequently asked questions about hosting transfer </p>
                <a class="btn btn__outline btn-faq" href="#">Learn More</a>
            <div class="card">
                <div class="card-header">
                    <h5 class="accordion-title">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-question18" aria-expanded="true" aria-controls="#collapse-question18"> 
                            What is cPanel? 
                        </button>
                    </h5>
                </div>
                <div id="collapse-question18" class="collapse" aria-labelledby="heading18" data-parent="#accordion"> 
                    <div class="card-body"> 
                        <p>cPanel is a control panel for your web hosting account. It help you quickly control and manage your hosting account</p> 
                    </div> 
                </div> 
            </div>

            <div class="card">
                <div class="card-header" id="headingWhatissharedhosting"> 
                    <h5 class="accordion-title"> 
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-question19" aria-expanded="true" aria-controls="#collapse-question19"> 
                        What is shared hosting? 
                      </button> 
                    </h5> 
                </div>
                <div id="collapse-question19" class="collapse" aria-labelledby="heading19" data-parent="#accordion"> 
                    <div class="card-body"> 
                      Shared hosting is a type of web hosting where you share a server with other people, by having a limit of resources. Think of your shared hosting account as your apartment in an apartment building. While you share the building with others, you have your ow 
                    </div> 
                </div> 
            </div>
            <div class="card">
                <div class="card-header" id="headingWhatissharedhosting"> 
                    <h5 class="accordion-title"> 
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-question19" aria-expanded="true" aria-controls="#collapse-question19"> 
                        What is shared hosting? 
                      </button> 
                    </h5> 
                </div>
                <div id="collapse-question19" class="collapse" aria-labelledby="heading19" data-parent="#accordion"> 
                    <div class="card-body"> 
                      Shared hosting is a type of web hosting where you share a server with other people, by having a limit of resources. Think of your shared hosting account as your apartment in an apartment building. While you share the building with others, you have your ow 
                    </div> 
                </div> 
            </div>
            <div class="card">
                <div class="card-header" id="headingWhatissharedhosting"> 
                    <h5 class="accordion-title"> 
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-question19" aria-expanded="true" aria-controls="#collapse-question19"> 
                        What is shared hosting? 
                      </button> 
                    </h5> 
                </div>
                <div id="collapse-question19" class="collapse" aria-labelledby="heading19" data-parent="#accordion"> 
                    <div class="card-body"> 
                      Shared hosting is a type of web hosting where you share a server with other people, by having a limit of resources. Think of your shared hosting account as your apartment in an apartment building. While you share the building with others, you have your ow 
                    </div> 
                </div> 
            </div>
            
        </div>

    </div>
</section>
</body>