<section class="pt-5">
    <div class="container" style="display: inline-block;">
        
  </div>
</section>

<section class="feature-content-section start-left container-fluid fos">
  <header>
    <h2 class="section-header">What is domain Registration? </h2>
    The first step is a domain name search for the best one that isn’t in already taken. 
    A .com domain is usually the most popular choice, but if you find that version of your domain is unavailable, 
    don’t worry. There are lots of other domain extensions (the letters right of the dot) you can use for some pretty cool combinations. 
  </header>
  <div class="feature-content-item fos container-fluid ">
    <div class="image">
      <img src="/images/work/10.jpg">
    </div>
    <div class="content-component">
      <div class="heading">
        Find Your Perfect Domain 
      </div>
      <div class="content">
      The first step is a domain name search for the best one that isn’t in already taken. A .com domain is usually the most popular choice, 
      but if you find that version of your domain is unavailable, don’t worry. 
      There are <a href="#" data-track-name="gtld-domain-names_link" data-track-eid-click="" data-eid="fos.cms.domains.deepsee_mobile/1/main_content/3/what_is_registration_feature_content_section/feature_content_item.gtld_domain_names_link.click">lots of other domain extensions</a> (the letters right of the dot) you can use for some pretty cool combinations.
      </div>
    </div>
  </div>
</section>

<section class="multi-column-container fos container-fluid">
  <header class="section-header">
    <h2 class="heading">Learn Why We are The Largest Reseller Hosting Company in Africa</h2>
    It's no accident we have 20 million customers and 80+ million domain names under management. 
    People might come here looking for a domain name, but what they find makes them stay for a lifetime.
  </header>
  <div class="grid">
    <div class="multi-column-item fos">
      <div class="image">
        <img src="/images/frogs_animals_painting_colorful_handdrawn_sketch_leaves_ornament_6839408.jpg">
        <div class="item-content">
          <div class="text-content">
            <h3 class="title" style="height: 30px;">Your one-stop Tech Shop</h3>
          </div>
          <div class="content">
        Forget about jumping around the internet to get all the tools you need to succeed online. Find everything for your online presence in one place.
          </div>
        </div>
      </div>
    </div>
    <div class="multi-column-item fos">
      <div class="image" style="height: 235px;">
       <img src="/images/frogs_animals_painting_colorful_flat_sketch_circle_ornament_6839410.jpg">
        <div class="item-content">
          <div class="text-content">
            <h3 class="title" style="height: 30px;">Your one-stop Tech Shop</h3>
          </div>
          <div class="content">
        Forget about jumping around the internet to get all the tools you need to succeed online. Find everything for your online presence in one place.
          </div>
        </div>
      </div>
    </div>
    <div class="multi-column-item fos">
      <div class="image" style="height: 235px;">
        <img src="/images/sea toad.jpg">
        <div class="item-content">
          <div class="text-content">
            <h3 class="title" style="height: 30px;">Your one-stop Tech Shop</h3>
          </div>
          <div class="content">
        Forget about jumping around the internet to get all the tools you need to succeed online. Find everything for your online presence in one place.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="id-6ba1f570-6c6a-4649-878c-88f0eccd4133" class="faq-section fos container" data-track-name="faq" data-track-promo-impression="" data-track-index="6" data-promo-id="6ba1f570-6c6a-4649-878c-88f0eccd4133" data-promo-name="faq" data-creative-name="faq" data-creative-slot="fos.cms.domains.deepsee_mobile/1/main_content/6">
  <header class="section-header">
      <h2 class="heading" style="margin-top: 160px;">FAQ</h2>
  </header>
  <ul itemscope="" itemtype="http://schema.org/FAQPage">

      <li id="id-153055e7-d44c-40c5-aef4-3409de801b0d" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
        <h3 class="title" itemprop="name">What's a domain name?</h3>
        <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
            <div itemprop="text">A domain name is the name of a website and typically consists of a top-level and second-level domain. A top-level domain 
              (TLD) is the part of the domain name located to the right of the dot, with the most common TLDs being .com, .net and .org as they can be registered by anyone.
              A second-level domain (SLD) is the part of the domain name located to the left of the dot. For example, the SLD in ‘coolexample.com’ is ‘coolexample’.<br>
          <br>
          In addition to this - since web browsers need IP addresses to communicate with each other - each domain name has a unique IP address assigned to it, much like a street address. When someone enters your domain name into a web browser, the Domain Name System (DNS) translates it into its associated IP address, allowing the browser to locate it and then show you the <a href="https://uk.godaddy.com/help/whats-the-difference-between-a-domain-and-a-website-16574" data-track-name="whats-the-difference-between-a-domain-and-a-website-16574_link" data-track-eid-click="" data-track-index="1" data-eid="fos.cms.domains.deepsee_mobile/1/main_content/6/faq/1.whats_the_difference_between_a_domain_and_a_website_16574_link.click">website associated with it</a>. If you own a business, GoDaddy can help you find a domain name that best suits the business so you can easily promote your website.<br>
          <br>
          But GoDaddy isn't just about domain names. We've got everything you need to get online. From <a href="https://uk.godaddy.com/hosting/cheap-web-hosting" data-track-name="cheap-web-hosting_link" data-track-eid-click="" data-track-index="2" data-eid="fos.cms.domains.deepsee_mobile/1/main_content/6/faq/2.cheap_web_hosting_link.click">cheap web hosting</a> and <a href="https://uk.godaddy.com/hosting/email-hosting" data-track-name="email-hosting_link" data-track-eid-click="" data-track-index="3" data-eid="fos.cms.domains.deepsee_mobile/1/main_content/6/faq/3.email_hosting_link.click">email hosting</a>&nbsp;to building your website and attracting new customers, GoDaddy has you covered.</div>
        </div>
      </li>


    <li itemtype="http://schema.org/Question">
        <h3 class="title" itemprop="name">How do I buy a domain name?</h3>
        <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
            <div itemprop="text"><p>It’s easy to get a new domain. Here are the steps:<br>
            <br>
            1. Decide on a domain name extension. The extension is the part at the end of the domain name — .net, .biz, .org or .com, for example.<br>
            <br>
            2. Think about what you'd like on the other side of the dot. It could be your business name or your specialty.<br>
            <br>
            3. Type the domain you want into the box at the top of this page. We'll tell you if that particular domain is available and show other you may like better.<br>
            <br>
            4. Pick one, add it to your cart and check out. You are now the proud owner of your very own domain. As long as it's registered to you, no one else may use it.</p>
          </div>
        </div>
    </li>



    <li id="id-1cb41371-c99f-4226-a565-6291be8f8e78" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
      <h3 class="title" itemprop="name">Got any tips on finding a good domain name?</h3>
      <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
        <div itemprop="text">You bet. While it's really easy to register a domain, having a good domain strategy helps you register the best domain name possible. Here are some hints:<br>
        <br>
        Make it easy to remember. This is why many businesses get domains with their business names in them. Some people even choose their business name only after they have a domain they like.<br>
        <br>
        Don't register one that's trademarked, copyrighted, or being used by another company. This can lead to losing the domain and legal problems.<br>
        <br>
        Shorter is usually better because they're easier for customers to remember. It's also easier to get matching usernames for Facebook, Twitter and any other social media accounts you have.<br>
        <br>
        Got a local business? Include your neighborhood, city or country in your domain so local customers can quickly see where you are. Check the list of geographic domain extensions — .berlin .nyc — to see if there's one for your area.<br>
        <br>
        Avoid numbers or hyphens. Anyone who hears your web address won't know if you're using a numeral 5 or "five". If your business name has a number in it, register both versions — with the number and with the number spelled out. (Dashes are just asking for trouble and generally look unprofessional.)<br>
        <br>
        Get more than one. As traffic to your website increases, you may attract then attention of copycats who'll snatch up similar domain names in hopes of drawing traffic away from you. Register similar or misspelled domains early so this won't be an issue later.</div>
      </div>
    </li>


    <li id="id-b7ff74b5-9e20-4075-bab3-1296521119cb" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
      <h3 class="title" itemprop="name">How long does my domain name registration last? How do I renew my domain?</h3>
      <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
        <div itemprop="text">How long your domain registration lasts can vary depending on the domain you purchase. Many domain name registrars will allow customers to register domains for 10 years at a time, but typically customers will register domains for one to three years.<br>
      <br>
        If you want to extend your registration, it’s easy to renew your domain with GoDaddy. You can choose to <a href="https://uk.godaddy.com/help/renew-my-domain-19070" data-track-name="renew-my-domain-19070_link" data-track-eid-click="" data-track-index="1" data-eid="fos.cms.domains.deepsee_mobile/1/main_content/6/faq/1.renew_my_domain_19070_link.click">manually renew</a>&nbsp;or set up&nbsp;<a href="https://uk.godaddy.com/help/turn-on-auto-renew-20007" data-track-name="turn-on-auto-renew-20007_link" data-track-eid-click="" data-track-index="2" data-eid="fos.cms.domains.deepsee_mobile/1/main_content/6/faq/2.turn_on_auto_renew_20007_link.click">auto-renewal</a>, so you ensure it stays registered to you.
      </div>
    </div>
    </li>
</ul>
</section>