

<section class="main-content" data-track-name="main-content">         
    <div id="id-74ee7d85-7d54-43e4-889c-9e872eceaba1" class="rich-text-banner fos container">
      <h2 style="text-align: center;">
        <span class="heading">WordPress Hosting Benefits</span>
    </h2>
    </div>
      <div id="id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44" class="multi-column-container  fos container" data-track-name="WSB_Benefits_Multi_Column" data-track-promo-impression="" data-track-index="3" data-promo-id="b4faf4ec-19cb-45a5-8c8f-7a30601e0e44" data-promo-name="wsb_benefits_multi_column" data-creative-name="wsb_benefits_multi_column" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/3">
    <div class="grid">
        <div id="id-4a844a1e-aa13-40b6-a944-9c710702ca6b" class="multi-column-item fos">
            <div class="item-content">
                    <div class="icon-content">   
                            <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
                    </div>
                
                    <div class="text-content">
                        <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                            <a href="#" data-track-name="showdoc_link" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/3/wsb_benefits_multi_column.showdoc_link.click">99.9% </a>uptime promise&nbsp;and money-back guarantee 
                    
                            <span id="id-f67672a0-a5a6-44ad-abec-254f7aa9db96" class="tooltip-trigger fos" data-tooltip="You can request a full refund for annual plans within 30 days of purchase and within 48 hours of purchase for monthly plans (each “Refund Period”).">﻿
                                <span class="icon icon-help" style="--icon-color: #00A4A6;"></span>
                            </span>
                    
                                <script>(function(){window.addEventListener("load",()=>{function n(){const n=document.querySelector("#tooltip-container");n.className="";const t=document.querySelector(".tooltip-content");t.innerHTML=""}function r(){const r=document.createElement("div");r.id="tooltip-container";t.appendChild(r);const u=document.createElement("div");u.className="tip";r.appendChild(u);const i=document.createElement("div");i.className="box";r.appendChild(i);i.addEventListener("click",n);const f=document.createElement("button");f.className="close";i.appendChild(f);const e=document.createElement("div");e.className="tooltip-content";i.appendChild(e)}function u(n,t){const u=document.querySelector(".tip"),i=n.getBoundingClientRect(),f=t.getBoundingClientRect();let r=i.x+i.width/2-f.width/2;u.style.left="calc(50% - .625em)";r<0&&(r=0,u.style.left=i.x+"px");t.style.left=r+"px";const e=window.scrollY+i.bottom+i.height;t.style.top=e+"px"}function f(){const i=this,t=document.querySelector("#tooltip-container");t.style.left="0";const r=document.querySelector(".tooltip-content");r.innerHTML=i.dataset.tooltip;u(i,t);t.className="open";window.addEventListener("resize",n)}const t=document.querySelector(".main-content"),i=document.querySelectorAll(".tooltip-trigger");r();i.forEach(n=>{n.addEventListener("click",f)})})})()</script>
                        </div>
                    </div>
                </div>
        </div>
    
                                <script>(function(){/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)||window.addEventListener("load",function(){var n=document.querySelectorAll(".multi-column-container"),t=["image","title","content"],i=function(n,t,i){var r=t.querySelector("."+n);r&&r.setAttribute("data-same-size",'{"group":"'.concat(i.id.concat("-".concat(n)),'","match":"height"}'))};n.forEach(function(n){var r=n.querySelectorAll(".multi-column-item");r.forEach(function(r){t.map(function(t){return i(t,r,n)})})})})})()</script>

    <div id="id-95cd8c84-bef2-4b34-9f78-ce706d844f0e" class="multi-column-item fos">
      <div class="item-content">
          <div class="icon-content">
                <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
          </div>
        <div class="text-content">
          <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
            CDN Boost for faster load times of up to 50%
          </div>
        </div>
    
      </div>
    </div>
    
    <div id="id-6c1d9c71-c97b-40e1-b681-38efb28a3d32" class="multi-column-item fos">
        <div class="item-content">
                <div class="icon-content">
                        <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
                </div>
                <div class="text-content">
                    <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                        Free business email — 1<sup>st</sup>&nbsp;year 
                            <span id="id-9eefac1a-b39a-4a02-bbea-23e95b8d76f7" class="tooltip-trigger fos" data-tooltip="Buy an annual hosting plan and get one Professional email address that matches your business name. If you choose to activate your mailbox, it will automatically renew annually at the then-current price until cancelled. You can cancel your automatic renewal at any time.">﻿
                                <span class="icon icon-help" style="--icon-color: #00A4A6;"></span>
                            </span>
                    </div>
                </div>
        </div>
    </div>

    
        <div id="id-f8260e0c-db9d-46c8-a655-5f8f52d64311" class="multi-column-item fos">
            <div class="item-content">
                <div class="icon-content">
                    <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
                </div>
            
                <div class="text-content">
                    <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                        Automatic WordPress core software and security updates
                    </div>
                </div>
            
            </div>
        </div>
    
    
        <div id="id-8fbcb658-9fd4-4e23-924e-231f312895b3" class="multi-column-item fos">
            <div class="item-content">
                <div class="icon-content">
                        <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
                </div>
            
                <div class="text-content">
                    <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                        Access to thousands of free themes and plugins
                    </div>
                </div>
            
            </div>
        </div>
    
    
    <div id="id-27004518-beb6-4409-ab7c-4db1386b989d" class="multi-column-item fos">
      <div class="item-content">
          <div class="icon-content">     
                <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
          </div>
    
            <div class="text-content">
                <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                    For beginners: Pre-built sites and drag &amp; drop page editor
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="id-731a121b-9fb7-42f7-bde6-853cab96ee69" class="multi-column-item fos">
      <div class="item-content">
          <div class="icon-content">
            <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
          </div>
    
        <div class="text-content">
            <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                SFTP access (Deluxe, Ultimate, and Ecommerce plans)
            </div>
        </div>
    
      </div>
    </div>
    
    <div id="id-6f491c92-fd5f-474e-aa29-a46539eeb948" class="multi-column-item fos">
       <div class="item-content">
            <div class="icon-content">  
                <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
            </div>
        
            <div class="text-content">
                <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                    Free 24/7 support
                </div>
            </div>
      </div>
    </div>
    
    <div id="id-ea1d2f70-e907-4e70-ba53-c97825c9d1f1" class="multi-column-item fos">
      <div class="item-content">
            <div class="icon-content"> 
                    <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
            </div>
        
            <div class="text-content">
                <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                    One-click migration tool
                </div>
            </div>
    
      </div>
    </div>
    
    <div id="id-4610eab3-41a5-45ea-a100-430cd4abeeb9" class="multi-column-item fos">
      <div class="item-content">
            <div class="icon-content">    
                <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
            </div>
        
            <div class="text-content">
                <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                    Latest version of PHP 7
                </div>
            </div>
      </div>
    </div>
    

    <div id="id-794dc464-1c6f-4990-b46f-b35f0da90fa2" class="multi-column-item fos">
        <div class="item-content">
            <div class="icon-content">
                <span class="icon icon-checkmark" style="--icon-color: #00A4A6;"></span>
            </div>
        
                    <div class="text-content">
                        <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b4faf4ec-19cb-45a5-8c8f-7a30601e0e44-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                            Temporary domain name&nbsp;
                    
                                <span id="id-7ccf4566-467b-4e2a-975a-a2c627274386" class="tooltip-trigger fos" data-tooltip="All annual plans include a free domain, but if you're not ready to choose your name, you can use a temporary domain to set up your account and add your official domain later.">﻿
                                    <span class="icon icon-help" style="--icon-color: #00A4A6;"></span>
                                </span>
                        </div>
                    </div>
                
            </div>
            </div>
        </div>
      </div>
    
    
    
    
    <div id="id-8a32ac42-0c15-4fca-8f06-87de848cec9b" class="in-page-nav sticky fos container-fluid" data-track-name="WP_Hosting_InPageNav" data-track-promo-impression="" role="navigation" data-menu-items="[{&quot;trackingName&quot;: &quot;plans&quot;,&quot;type&quot;: &quot;internal&quot;,&quot;id&quot;: &quot;#id-50e9bdb6-23b4-4294-b198-5c614f9840bb&quot;,&quot;title&quot;: &quot;Plans&quot;},{&quot;trackingName&quot;: &quot;Key Features&quot;,&quot;type&quot;: &quot;internal&quot;,&quot;id&quot;: &quot;#id-f4255c8f-09d4-43e3-9b1e-2eb62dee03d6&quot;,&quot;title&quot;: &quot;Key Features&quot;},{&quot;trackingName&quot;: &quot;Themes&quot;,&quot;type&quot;: &quot;internal&quot;,&quot;id&quot;: &quot;#id-360328b3-ef26-4bf4-b7e9-fbc970496e81&quot;,&quot;title&quot;: &quot;Themes&quot;},{&quot;trackingName&quot;: &quot;Plugins&quot;,&quot;type&quot;: &quot;internal&quot;,&quot;id&quot;: &quot;#id-288c4657-53dc-4012-ba42-8e8ef8931ec3&quot;,&quot;title&quot;: &quot;Plugins&quot;},{&quot;trackingName&quot;: &quot;Support&quot;,&quot;type&quot;: &quot;internal&quot;,&quot;id&quot;: &quot;#id-7272dfbe-d037-43b4-a33a-3f6d39b9d367&quot;,&quot;title&quot;: &quot;Support&quot;}]" data-moretext="More ..." data-track-index="4" data-promo-id="8a32ac42-0c15-4fca-8f06-87de848cec9b" data-promo-name="wp_hosting_inpagenav" data-creative-name="wp_hosting_inpagenav" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/4">
      <div class="wrapper">
        <div role="menubar" class="nav">
            <div class="nav-item" role="menuitem">
                <a href="#" data-track-name="plans" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content.plans.click" data-targetid="id-50e9bdb6-23b4-4294-b198-5c614f9840bb">Plans</a>
            </div>
            <div class="nav-item more" role="menuitem">
                <a href="javascript:void(0);" data-track-name="_link" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content._link.click">More ...</a>
            </div>
        </div>
          <div class="cta">
                <form id="id-1e122b3e-e8cd-464a-8148-2ef6867f818e" action="#">
                    <input type="hidden" name="pkgid" value="wordpress-o365-tier3">
                    <input type="hidden" name="term" value="36:Month"> 
                    <input type="hidden" name="itc" value="slp_wordpress">
                    <button id="btn-id-1e122b3e-e8cd-464a-8148-2ef6867f818e" class="btn btn-primary  fos" type="submit" data-track-name="Buy_Now" data-track-promo-click="" data-promo-id="1e122b3e-e8cd-464a-8148-2ef6867f818e" data-promo-name="buy_now" data-creative-name="buy_now" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/4/wp_hosting_inpagenav" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/4/wp_hosting_inpagenav.buy_now.click">
                        Buy Now
                    </button>
                </form>
          </div>
        <div class="dropnav">
            <div class="nav-item" role="menuitem">
                <a href="#" data-track-name="key_features" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content.key_features.click" data-targetid="id-f4255c8f-09d4-43e3-9b1e-2eb62dee03d6">Key Features</a>
            </div>
            <div class="nav-item" role="menuitem">
                <a href="#" data-track-name="themes" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content.themes.click" data-targetid="id-360328b3-ef26-4bf4-b7e9-fbc970496e81">Themes</a>
            </div>
            <div class="nav-item" role="menuitem">
                <a href="#" data-track-name="plugins" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content.plugins.click" data-targetid="id-288c4657-53dc-4012-ba42-8e8ef8931ec3">Plugins</a>
            </div>
            <div class="nav-item" role="menuitem">
                    <a href="#" data-track-name="support" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content.support.click" data-targetid="id-7272dfbe-d037-43b4-a33a-3f6d39b9d367">Support</a>
            </div>
        </div>
      </div>
    </div>
    
    <div class="nav-item" role="menuitem">
        <a href="#" data-track-name="_link" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content._link.click"></a>
    </div>
    
    <script>(function(){function a(){t.addEventListener("click",function(){t.classList.remove("open")})}function h(){if(!(r++>0)){var t=w();b();k(t);u=n.querySelectorAll(".nav-item");v(u);r=0}}function v(n){for(var i,t=0;t<n.length;t++)(i=n[t].querySelector("a[data-targetid]"),i)&&i.addEventListener("click",function(n){n.preventDefault();var t=n.currentTarget.getAttribute("data-targetid"),i=document.getElementById(t);d(i)})}function c(){if(!(r++>0)){if(n.getBoundingClientRect().top!==0)for(var t=0;t<u.length;t++)u[t].classList.remove("active");else y();r=0}}function y(){for(var u=document.querySelectorAll(i),f=!1,t=0;t<u.length;t++){var e=u[t],o=n.querySelector('.nav-item a[data-targetid="'+e.id+'"]'),r=e.getBoundingClientRect(),s=r.height*.5,h=r.top+s>=0&&r.top<=window.innerHeight;!f&&h?(o.parentElement.classList.add("active"),f=!0):o.parentElement.classList.remove("active")}}function l(n){while(n.firstChild)n.removeChild(n.firstChild)}function p(n){var t=s[n],u=e.cloneNode(!0),o=t.trackingName,r=u.querySelector("a");window.cms.trackingData&&window.cms.trackingData.updatedTrackingNameInEid&&window.cms.trackingData.updatedTrackingNameInEid(r,o);t.type==="internal"?(r.setAttribute("data-targetid",t.id.substring(1)),r.innerHTML=t.title):(u.classList.add("nav-item-external"),r.setAttribute("href",t.url),r.setAttribute("target",t.target),r.innerHTML=t.title);f.appendChild(u);t.type==="internal"&&(i+=i.length===0?"":",",i+=t.id)}function w(){var r,t;for(l(f),i="",r=0,t=0;t<s.length;t++)p(t),t===0&&(r=f.offsetHeight);var u=n.querySelector(".cta"),e=u?u.offsetHeight:0;return Math.max(e,r)+5}function b(){var i=e.cloneNode(!0),r;i.classList.add("more");i.setAttribute("style","display:none;");r=i.querySelector("a");r.setAttribute("href","javascript:void(0);");r.addEventListener("click",function(){t.classList.toggle("open")});r.innerHTML=n.getAttribute("data-moretext");f.appendChild(i)}function k(i){var u,r;if(!(n.clientHeight<=i))for(u=n.querySelector(".more"),u.removeAttribute("style"),l(t);n.clientHeight>i;){if(r=n.querySelectorAll(".nav > .nav-item:not(.more)"),r.length===0)break;t.insertBefore(r[r.length-1],t.childNodes[0])}}function d(t){if(t!==null){var r=n.offsetHeight+16,i=t.offsetTop-r;o?window.scroll(0,i):window.scroll({behavior:"smooth",top:i})}}function g(n,t){var i=Date.now();return function(){i+t-Date.now()<0&&(n(),i=Date.now())}}function nt(){n.length!==0&&(window.addEventListener("resize",h),window.addEventListener("scroll",g(c,64)),a(),h(),c())}var n=document.querySelector(".in-page-nav"),o;if(n){var r=0,s=JSON.parse(n.getAttribute("data-menu-items")),i="",u,f=n.querySelector(".nav"),t=n.querySelector(".dropnav"),e=document.querySelector(".in-page-nav-link-template");e.classList.remove("in-page-nav-link-template");o=/msie\s|trident\/|edge\//i.test(navigator.userAgent);window.setTimeout(nt,o!==-1?500:0)}})()</script>
    
    
    
    

    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="service-block media">
                <div class="service-icon">
                    <i class="ti-reload"></i>
                </div>
                <div class="service-inner-content media-body">
                    <h4>Backup System</h4>
                    <p>Our team are experts in matching you with the right provider.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mb-3 col-md-6">
            <div class="service-block media">
                <div class="service-icon">
                    <i class="ti-cloud"></i>
                </div>
                <div class="service-inner-content media-body">
                    <h4>Cloud Hosting</h4>
                    <p>Our team are experts in matching you with the right provider.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mb-3 col-md-6">
            <div class="service-block media ">
                <div class="service-icon">
                    <i class="ti-world"></i>
                </div>
                <div class="service-inner-content media-body">
                    <h4>Web hosting</h4>
                    <p>Our team are experts in matching you with the right provider.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 mb-3 col-md-6">
            <div class="service-block media ">
                <div class="service-icon">
                    <i class="ti-server"></i>
                </div>
                <div class="service-inner-content media-body">
                    <h4>Office Cloud</h4>
                    <p>Our team are experts in matching you with the right provider.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="service-block media">
                <div class="service-icon">
                    <i class="ti-world"></i>
                </div>
                <div class="service-inner-content media-body">
                    <h4>Web hosting</h4>
                    <p>Our team are experts in matching you with the right provider.</p>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
            <div class="service-block media">
                <div class="service-icon">
                    <i class="ti-cloud"></i>
                </div>
                <div class="service-inner-content media-body">
                    <h4>Office Cloud</h4>
                    <p>Our team are experts in matching you with the right provider.</p>
                </div>
            </div>
        </div>
    </div>   

        </div>
    </div>
    
    
    <section id="id-360328b3-ef26-4bf4-b7e9-fbc970496e81" class="feature-content-section start-right fos" data-track-name="Feature_Content_Section" data-track-index="6">
        <div id="id-5c10bd4f-a283-4b8f-9beb-dcbea4d1438c" class="feature-content-item fos container-fluid" data-track-name="Feature_Content_Item" data-track-promo-impression="" data-promo-id="5c10bd4f-a283-4b8f-9beb-dcbea4d1438c" data-promo-name="feature_content_item" data-creative-name="feature_content_item" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/6/feature_content_section">
            <div class="image">
            <img data-src="https://img1.wsimg.com/cdn/Image/All/FOS-Intl/1/en-US/06365794-647b-482e-a24a-a1f1327f39b1/feat-wph-themes.jpg" alt="Feat Wph Themes" src="https://img1.wsimg.com/cdn/Image/All/FOS-Intl/1/en-US/06365794-647b-482e-a24a-a1f1327f39b1/feat-wph-themes.jpg">
            </div>
        <div class="content-component">
            <h2 class="heading">WordPress Hosting Themes</h2>
            <div class="content">
            Our pre-built themes are easy to customize with a drag-and-drop editor. Just choose your industry and we'll give you a ready-made site, complete with images. Or, make it completely your own with thousands of third-party WordPress themes and plugins to choose from.
            </div>
        
            <div class="button-set">
                <a id="id-e664ac57-c3c1-42de-95c6-4ed42f314e7d" class="btn btn-default  fos" href="https://uk.godaddy.com/wordpress-themes" data-track-name="Explore_Themes_CTA" data-track-promo-click="" data-promo-id="e664ac57-c3c1-42de-95c6-4ed42f314e7d" data-promo-name="explore_themes_cta" data-creative-name="explore_themes_cta" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/6/feature_content_section/feature_content_item" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/6/feature_content_section/feature_content_item.explore_themes_cta.click">
                Explore Themes
                </a>    
            </div>
        
        </div>
        
        </div>
    </section>

    <div id="id-288c4657-53dc-4012-ba42-8e8ef8931ec3" class="rich-text-banner fos container">
        <h2 style="text-align: center;">
            <span class="heading">WordPress Hosting Plugins</span>
        </h2>
            <p style="text-align: center;" class="">
                <span style="text-align: center;">The most popular features are built in to our premium themes, but there are over 43,000 more available across the web.</span>
            </p>
    </div>
    
    
    
    
    
    

    
    
      <div id="id-4f89f1e7-3630-437e-9c31-880e10867eae" class="multi-column-container  fos container" data-track-name="WP_Hosting_Plugins_Multi_Column" data-track-promo-impression="" data-track-index="7" data-promo-id="4f89f1e7-3630-437e-9c31-880e10867eae" data-promo-name="wp_hosting_plugins_multi_column" data-creative-name="wp_hosting_plugins_multi_column" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/7">
        <div class="grid">
            <div id="id-a7c5aba8-e5b8-4421-ba0d-95d8e1d25f85" class="multi-column-item fos">
                <div class="item-content">
                
                    <div class="text-content">
                        <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-title&quot;,&quot;match&quot;:&quot;height&quot;}">Contact Forms</h3>
                    <div class="content" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                        Let people know how to connect with you.
                    </div>
                    </div>
                
                </div>
            </div>
    
        <div id="id-6adc5dc0-0706-4737-9864-0cd1ae1fd175" class="multi-column-item fos">
            <div class="item-content">
                <div class="text-content">
                    <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-title&quot;,&quot;match&quot;:&quot;height&quot;}">Page Builder</h3>
                <div class="content" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                    Design your web pages in less time.
                </div>
                </div>
            
            </div>
        </div>
    

        <div id="id-9511a26a-40d8-4ac4-8dec-221f80352314" class="multi-column-item fos">
            <div class="item-content">
            
                <div class="text-content">
                    <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-title&quot;,&quot;match&quot;:&quot;height&quot;}">SEO</h3>
                <div class="content" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                    Take your website to the top of the charts.
                </div>
                </div>
            
            </div>
        </div>

      

    
    
    <div id="id-ee2142e7-301a-4249-a7d4-66f5906cb878" class="multi-column-item fos">
      <div class="item-content">
    
        <div class="text-content">
            <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-title&quot;,&quot;match&quot;:&quot;height&quot;}">Analytics</h3>
          <div class="content" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-content&quot;,&quot;match&quot;:&quot;height&quot;}">
            Find trends and maximize your traffic.
          </div>
        </div>
    
      </div>
    </div>

    
    
    
    <div id="id-b7b12529-f7c9-4b22-abeb-1c58c58974f2" class="multi-column-item fos">
      <div class="item-content">
        <div class="text-content">
            <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-title&quot;,&quot;match&quot;:&quot;height&quot;}">Online Store</h3>
          <div class="content" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-content&quot;,&quot;match&quot;:&quot;height&quot;}">
            Sell your products online.
          </div>
        </div>
    
      </div>
    </div>
    
    
    <div id="id-7d70064a-19ec-4184-a02d-320cc46fc925" class="multi-column-item fos">
      <div class="item-content">
        <div class="text-content">
            <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-title&quot;,&quot;match&quot;:&quot;height&quot;}">Social Media</h3>
          <div class="content" data-same-size="{&quot;group&quot;:&quot;id-4f89f1e7-3630-437e-9c31-880e10867eae-content&quot;,&quot;match&quot;:&quot;height&quot;}">
            Share on Facebook, Twitter, Instagram and more.
          </div>
        </div>
    
      </div>
    </div>
    
    
        </div>
      </div>
    
    

        <div id="id-b46f2d25-f1d3-41a0-aea0-2808a31cfa7d" class="feature-content-item fos container-fluid" data-track-name="WooCommerce_Feature_Content_Item" data-track-promo-impression="" data-track-index="8" data-promo-id="b46f2d25-f1d3-41a0-aea0-2808a31cfa7d" data-promo-name="woocommerce_feature_content_item" data-creative-name="woocommerce_feature_content_item" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/8">
            <div class="image">
            <img data-src="https://img1.wsimg.com/cdn/Image/All/FOS-Intl/1/en-US/15b21f8f-804c-44a9-bde5-508d3755bf00/feat-wph-woocommerce.jpg" alt="Feat Wph Woocommerce" src="https://img1.wsimg.com/cdn/Image/All/FOS-Intl/1/en-US/15b21f8f-804c-44a9-bde5-508d3755bf00/feat-wph-woocommerce.jpg">
            </div>
        
            <div class="content-component">
                <h2 class="eyebrow">
                    <img src="https://img1.wsimg.com/cdn/Image/All/Website/1/en-US/358a010f-7edb-441a-bc2c-1ad2adf7b506/img-woocommerce-logo.png">
                </h2>
                <h3 class="heading">Got stuff to sell? We got you.</h3>
            
                <div class="content">
                From payments and shipping to product displays and category names, you have the freedom to customize virtually every aspect of your store. Our Ecommerce plan comes with a pre-installed online store powered by WooCommerce, plus a variety of premium extensions including Advanced Notifications, WooCommerce Brands and more.
                </div>
            
                <div class="button-set">
                </div>
            </div>
        </div>
    
    
    
    

    
    <section id="id-7272dfbe-d037-43b4-a33a-3f6d39b9d367" class="godaddy-guides bottom-gradient fos container-fluid apply-bg" data-track-name="GoDaddy_Guides_CTA" data-track-promo-impression="" data-lazy-bg="true" data-track-index="9" data-promo-id="7272dfbe-d037-43b4-a33a-3f6d39b9d367" data-promo-name="godaddy_guides_cta" data-creative-name="godaddy_guides_cta" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/9">
      
    <figcaption class="attribution top-left">Samantha S.
    <br>GoDaddy Guide<br><span style="text-transform: uppercase;"></span></figcaption>
    
      <div class="top"></div>
        <div class="middle">
                <div class="logo">
                <img data-src="https://img1.wsimg.com/cdn/Image/All/Website/1/NorthAmerica/74f4c5a8-5eef-4b8d-ac3b-7d43899573fe/GoDaddyGuidesLogo.svg" alt="Godaddy Guides Logo" src="https://img1.wsimg.com/cdn/Image/All/Website/1/NorthAmerica/74f4c5a8-5eef-4b8d-ac3b-7d43899573fe/GoDaddyGuidesLogo.svg">
                </div>
                <h2 class="heading">We love to help. Seriously.</h2>
                <p>Still not sure what you need? Give us a call. We’re happy to help, even if you’re not a customer. We're here 24/7/365.  Call anytime. 020 7084 1810</p>
                    <div class="community-links">
                        <ul>
                                <li>
                                    <a id="id-c656dc27-34ab-454f-b83e-5aca1a8da7bb" class="btn btn-primary  fos" href="https://uk.godaddy.com/help" data-track-name="visit_help_center_cta" data-track-promo-click="" data-promo-id="c656dc27-34ab-454f-b83e-5aca1a8da7bb" data-promo-name="visit_help_center_cta" data-creative-name="visit_help_center_cta" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/9/godaddy_guides_cta" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/9/godaddy_guides_cta.visit_help_center_cta.click">
                                        Get Help
                                    </a>
                                </li>
                        </ul>
                    </div>
        </div>
    </section>

    <script>(function(){function i(n){return{tab:n===9,enter:n===13,up:n===38,down:n===40,shft:n===16,ctrl:n===17,alt:n===18}}function t(n,t){var i,r;for(t.innerHTML="",i=0;i<n.length;i++)r=document.createElement("option"),r.value=n[i],t.appendChild(r)}function r(r){function l(){var i,u,e;if(this.status>=200&&this.status<400)try{if(i=JSON.parse(this.response),i&&i.length>0){var s=i[0],r=[],h=s.length;for(u=0;u<h;u++)(e=s[u].text,e!==f)&&(r.includes(e)||r.push(e));n[f]=r;n.length>1e3&&n.shift();t(r,o)}}catch(c){console.log("Error parsing json")}}var u=i(r.which),h,f,c,o,e,s;if(!u.enter&&!u.shift&&!u.ctrl&&!u.alt&&!u.tab&&!u.up&&!u.down&&(h=r.target,f=h.value.trim(),!(f.length<=1))){if(c=h.getAttribute("list"),o=document.getElementById(c),n[f]){t(n[f],o);return}e=o.getAttribute("data-url");e&&(e=e.replace("q=searchQ","q="+f),s=new XMLHttpRequest,s.open("GET",e,!0),s.onload=l,s.send())}}var n={},u=document.querySelectorAll(".js-guides-input");u.forEach(function(n){n.addEventListener("keyup",r)})})()</script>
    
    
    
    
    <div id="id-b7b4beff-b6a1-4d09-8915-15fbb267ad59" class="product-card-container fos container-fluid" data-track-name="WebHos_and_WSB_Plans" data-track-promo-impression="" data-track-index="10" data-promo-id="b7b4beff-b6a1-4d09-8915-15fbb267ad59" data-promo-name="webhos_and_wsb_plans" data-creative-name="webhos_and_wsb_plans" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/10">
        <header class="section-header">
          <h2 class="heading">Didn't find what you're looking for? We've got more.</h2>
        </header>
      <div class="grid">

        <div id="id-ee37febd-1cf3-42a0-bd3d-8573a3b56634" class="product-card fos" data-track-name="Web_Hosting" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/10/webhos_and_wsb_plans.web_hosting.click">
            <div class="image" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-image&quot;,&quot;match&quot;:&quot;height&quot;}">
                <img data-src="https://img1.wsimg.com/cdn/Image/All/Website/1/en-US/20e9169c-5d0f-4cc4-9030-4b635f75041b/img-wph-web-hosting.png" alt="Img Wph Web Hosting" src="https://img1.wsimg.com/cdn/Image/All/Website/1/en-US/20e9169c-5d0f-4cc4-9030-4b635f75041b/img-wph-web-hosting.png">
            </div>
                <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-title&quot;,&quot;match&quot;:&quot;height&quot;}"><p><span class="eyebrow">Web Hosting&nbsp;&nbsp;</span></p>
                    <p>
                        <span class="heading">Reliable hosting that evolves with your business.</span>
                    </p>
                </h3>
                
            <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-content&quot;,&quot;match&quot;:&quot;height&quot;}">
                    <p style="text-align: center;">Not into WordPress? Choose a hosting plan that works for you. Get online with Linux or Windows shared hosting platforms, increase your website's resources with just one click and take advantage of security that never sleeps.</p>
            </div>
            <div class="button-set" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-button-set&quot;,&quot;match&quot;:&quot;height&quot;}">

                <a id="id-f11c6b71-94df-445a-b40f-acf31564bf89" class="btn btn-default  fos" href="https://uk.godaddy.com/hosting/web-hosting" data-track-name="More_WebHos_CTA" data-track-promo-click="" data-promo-id="f11c6b71-94df-445a-b40f-acf31564bf89" data-promo-name="more_webhos_cta" data-creative-name="more_webhos_cta" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/10/webhos_and_wsb_plans/web_hosting" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/10/webhos_and_wsb_plans/web_hosting.more_webhos_cta.click">
                More About Web Hosting
                </a>    
            </div>
    </div>
    
    <script>window.addEventListener("load",function(){var n=document.querySelectorAll(".product-card-container"),t=["image","title","content","list-items","price-content","button-set","feature-list"],i=function(n,t,i){var r=t.querySelector("."+n);r&&r.setAttribute("data-same-size",'{"group":"'.concat(i.id.concat("-".concat(n)),'","match":"height"}'))};n.forEach(function(n){var r=n.querySelectorAll(".product-card");r.forEach(function(r){t.map(function(t){return i(t,r,n)})})})})</script>
    
    

        <div id="id-f131adaf-b3c4-4ab1-8698-1c4b56ef0422" class="product-card fos">
            <div class="image" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-image&quot;,&quot;match&quot;:&quot;height&quot;}">
                <img data-src="https://img1.wsimg.com/cdn/Image/All/Website/1/en-US/c21e730a-209a-4ea2-92b1-76b469adfae6/img-wph-website-builder.png" alt="Img Wph Website Builder" src="https://img1.wsimg.com/cdn/Image/All/Website/1/en-US/c21e730a-209a-4ea2-92b1-76b469adfae6/img-wph-website-builder.png">
            </div>

            <h3 class="title" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-title&quot;,&quot;match&quot;:&quot;height&quot;}"><p><span class="eyebrow">GoDaddy Website Builder&nbsp;&nbsp;</span></p>
                <p>
                    <span class="heading">The simplest way to create your new website.</span>
                </p>
            </h3>

            <div class="content" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-content&quot;,&quot;match&quot;:&quot;height&quot;}">
            <p style="text-align: center;">Create a modern website in minutes - no tech skills required. Just choose a design you like, add your content and publish. Plus, you get a domain and hosting included with purchase.</p>
            </div>
            <div class="button-set" data-same-size="{&quot;group&quot;:&quot;id-b7b4beff-b6a1-4d09-8915-15fbb267ad59-button-set&quot;,&quot;match&quot;:&quot;height&quot;}">
                <a id="id-9157cee4-d710-487e-b931-38102de97fdd" class="btn btn-default  fos" href="https://uk.godaddy.com/websites/website-builder" data-track-name="More_WSB_CTA" data-track-promo-click="" data-promo-id="9157cee4-d710-487e-b931-38102de97fdd" data-promo-name="more_wsb_cta" data-creative-name="more_wsb_cta" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/10/webhos_and_wsb_plans" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/10/webhos_and_wsb_plans.more_wsb_cta.click">
                More About Website Builder
                </a>    
            </div>
        </div>
      </div>
    </div>
    
<section id="id-b4be2ed2-b0c6-4a90-9cb0-11ba150ad58c" class="faq-section fos container" data-track-name="faq" data-track-promo-impression="" data-track-index="11" data-promo-id="b4be2ed2-b0c6-4a90-9cb0-11ba150ad58c" data-promo-name="faq" data-creative-name="faq" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/11">
      <header class="section-header">
          <h2 class="heading">WordPress Hosting Frequently Asked Questions</h2>
      </header>
      <ul itemscope="" itemtype="http://schema.org/FAQPage">
            <li id="id-4972bbba-0f20-4849-b874-04976d9209d6" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">What is WordPress Hosting?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">WordPress hosting is a type of web hosting that’s designed specifically to optimize WordPress websites for speed, performance and security. It pays special attention to WordPress’ technical and security requirements and usually offers a simple, 1-click WordPress installation or migration.&nbsp;&nbsp;<br>
                            <br>Every website you’ve visited is hosted on a server, a place to store the files comprising the website you see. WordPress Hosting from GoDaddy uses servers modified to ensure WordPress websites run smoothly. We also take care of pesky software and security updates so you don’t have to. Our WordPress Hosting is the perfect solution for anyone who wants the power and simplicity of WordPress without the hassle of managing technical adjustments. And of course, our award-winning support is available 24/7 to help with any questions you may have.&nbsp;</div>
                    </div>
            </li>

            <li id="id-bbc8059c-e893-4cd8-b7d3-883b4aa96444" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">Should I buy WordPress Hosting?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">Well ultimately it comes down to how comfortable you are with managing a website. But even if you’ve handled the install process for a WordPress site before, and you know how to update everything on a regular basis, we make managing WordPress easy. Don’t stress about doing all the heavy lifting and let us do it for you. When it comes down to it, WordPress Hosting just makes your life easier. And isn’t that worth the cost?</div>
                    </div>
            </li>
    
    
            <li id="id-c81f7cef-7cc2-4b90-ad63-f7922ac3f207" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">What is WordPress used for?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">WordPress® is a blog- and web-publishing platform that's not only easy to use, but recognized the world over as a standard in website creation. With its focus on aesthetics, web standards and usability, WordPress is an open-source platform that lets you manage everything from a small personal blog to a large commercial site with hundreds of pages. Hundreds of thousands of sites trust their online presence to WordPress — and with WordPress Hosting from GoDaddy, you can, too.</div>
                    </div>
            </li>
    
            <li id="id-e6c5e7ad-3c53-4302-a4ef-a765d787026d" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">How much does WordPress cost?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                         <div itemprop="text">WordPress itself is free. What makes GoDaddy's WordPress Hosting solution different, is that we handle all that for you. We handle your WordPress installation, sort through updates and keep everything running smoothly, while still ensuring you have wicked-fast speeds.</div>
                    </div>
            </li>
    
            <li id="id-cd2ebb3e-23d7-47b7-9123-d45e4c850df8" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">Can I transfer my WordPress hosting to GoDaddy?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">Yes. You can migrate your site over to GoDaddy WordPress Hosting in just one click. Either move it to your domain name or put it on a temporary domain, then just do a quick review and you're ready to publish.</div>
                    </div>
            </li>
    
    

            <li id="id-b541d632-55d1-44f3-b045-89c60e74ee27" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">Can I call GoDaddy for WordPress Hosting support questions?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">Absolutely. GoDaddy's support staff is here all the time. Just give us a call whenever you’ve got a question and we’ll help you out. It’s all a part of the process.</div>
                    </div>
            </li>
    
            <li id="id-09f595b1-a189-4ef7-9c60-4a54daeb6646" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">How does your version of WordPress differ from other installations?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">It doesn't. We start you out with the latest version of WordPress, the same one you'd download from WordPress.org. And anytime there's an update, we install it for you automatically. You never have to hassle with installing another update or worry about running an outdated or compromised version of WordPress.</div>
                    </div>
            </li>
    
    
            <li id="id-5b221603-53c4-4d1b-89ff-3b24512ec132" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">Do I need to set up my database?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">No. With WordPress Hosting, we take care of everything so the process is as easy as possible for you. Once you've purchased your plan, you can immediately create your website or start blogging.</div>
                    </div>
            </li>
    
            <li id="id-203f17c6-0fed-4acf-bfa0-a95a274274f3" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">After I purchase WordPress Hosting, how do I get started?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">Not sure how to create a blog or get started creating your site using WordPress? Don't worry!<br>
                            <br>Your hosting plan is seamlessly connected to the latest version of WordPress, so all you need to do is log in and you can start creating a site directly from your control panel. Not sure how to log in? Check "How can I access my WordPress installation?" below.<br>
                                <br>
                                And if you ever have questions, don't hesitate to contact our award-winning 24x7 support team. Our in-house WordPress experts can guide you through creating, updating or even promoting your website or blog.
                        </div>
                    </div>
            </li>
    
            <li id="id-be8c9596-1d98-4ed2-b589-a502d6901ee8" class="faq-item fos" itemprop="mainEntity" itemscope="" itemtype="http://schema.org/Question">
                <h3 class="title" itemprop="name">How can I access my WordPress installation?</h3>
                    <div itemscope="" itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div itemprop="text">There are several ways to log in to your WordPress website or blog.<br>
                    <br>
                    Go to <a href="https://uk.godaddy.com" data-track-name="uk.godaddy.com_link" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/11/faq.uk.godaddy.com_link.click">godaddy.com</a>, log in to "My account" and choose WordPress Hosting from your list of products. Type http://coolexample.com/wp-admin, where coolexample.com is your domain name, and that will take your directly to the Admin login screen.</div>
                    </div>
            </li>
       </ul>
    </section>
    
    
    <div id="id-fffa80d1-a45e-41fe-bc1a-b1cb2c87a7e1" class="rich-text-banner fos container">
       <p>
            <span id="id-de844be7-2698-48ba-bcc8-cfd8c881626f" class="modal-trigger fos" data-track-name="Modal_Trigger" data-track-promo-click="" data-promo-id="de844be7-2698-48ba-bcc8-cfd8c881626f" data-promo-name="modal_trigger" data-creative-name="modal_trigger" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content" data-track-promo-impression="" data-schema="add_promotion" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content.modal_trigger.click">
                **,* 
                <a class="btn btn-link " href="#" data-track-name="id-6ddc4b89-20bc-45f4-acaa-78d1bd12d1f7_link" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/modal_trigger.id_6ddc4b89_20bc_45f4_acaa_78d1bd12d1f7_link.click">Disclaimers</a>
            </span>
        </p>
        <p>Third-party logos and marks are registered trademarks of their respective owners. All rights reserved.</p>
    </div>
    
    
    <div id="id-75fa8d10-e459-466e-9e2a-2c756bce032d" class="youtube-takeover fos" data-track-name="YouTube_Takeover" data-track-promo-impression="" data-youtube-id="umMNT8X7cro" data-track-index="12" data-promo-id="75fa8d10-e459-466e-9e2a-2c756bce032d" data-promo-name="youtube_takeover" data-creative-name="youtube_takeover" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/12">
        
      <button class="takeover-close"><i></i></button>
    </div>
    
    <script>(function(){window.addEventListener("load",()=>{function i(n){var t=n.dataset.takeover;return document.querySelector(`#id-${t}`)}function o(n,i){var r=n.querySelector(".takeover-close");r.addEventListener("click",()=>{i.contentWindow.postMessage('{"event":"command","func":"pauseVideo","args":""}',"*"),n.classList.remove("open"),t.classList.remove("no-scroll")})}function r(n){var f=n.currentTarget,r=i(f),u=r.querySelector("iframe");r.classList.add("open");u.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}',"*");t.classList.add("no-scroll");o(r,u)}function u(){f.forEach(t=>{n.observe(t),t.addEventListener("click",r)});e.forEach(t=>{n.observe(t),t.addEventListener("click",r)})}var t=document.querySelector("html"),f=document.querySelectorAll(".youtube-thumbnail"),e=document.querySelectorAll(".youtube-trigger"),n=new IntersectionObserver(function(t){t.forEach(function(t){if(t.isIntersecting){var r=t.target,u=i(r),e=u.dataset.youtubeId,f=document.createElement("iframe");n.unobserve(r);f.src=`https://youtube.com/embed/${e}?autoplay=1&mute=1&enablejsapi=1`;u.prepend(f)}})},{root:null,rootMargin:"25% 0% 25% 0%",threshold:0});window.IntersectionObserver?u():window.lazy.asyncLoad("https://img1.wsimg.com/poly/v3/polyfill.min.js?features=IntersectionObserver%2CNodeList.prototype.forEach&rum=0&unknown=polyfill&flags=gated",u)})})()</script>
    
        <div id="id-6ddc4b89-20bc-45f4-acaa-78d1bd12d1f7" data-track-name="Modal_Dialog" data-track-promo-impression="" class="modal__dialog" data-track-index="13" data-promo-id="6ddc4b89-20bc-45f4-acaa-78d1bd12d1f7" data-promo-name="modal_dialog" data-creative-name="modal_dialog" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/13">
        <a href="#close" class="modal__closeBk" aria-label="Close" data-modalid="#id-6ddc4b89-20bc-45f4-acaa-78d1bd12d1f7" data-track-name="close_link" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/13/modal_dialog.close_link.click"></a>
            <div class="modal__content">
                <a href="#close" class="modal__closeBtn" aria-label="Close" data-modalid="#id-6ddc4b89-20bc-45f4-acaa-78d1bd12d1f7" data-track-name="close_link" data-track-eid-click="" data-eid="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/13/modal_dialog.close_link.click"></a>
                <div class="modal__body">
                    <h2><strong>Disclaimers</strong></h2>      
        
                    <div id="id-2bd132f1-0908-4b51-9ca1-9a30439cc96e" class="disclaimer-container fos" data-track-name="disclaimers" data-track-promo-impression="" data-promo-id="2bd132f1-0908-4b51-9ca1-9a30439cc96e" data-promo-name="disclaimers" data-creative-name="disclaimers" data-creative-slot="fos.cms.hosting/wordpress_hosting.fsd_layout/2/main_content/main_content/13/modal_dialog">
                            <p id="id-9c6aeab5-3bd2-470a-9c31-a8bb94cfa317" class="disclaimer-item fos">
                                Third-party logos and marks are registered trademarks of their respective owners. All rights reserved.
                            </p>

                            <p id="id-4f2253e3-b18c-4220-a5a8-b4d759ca31f1" class="disclaimer-item fos">
                            **  
                            <span style="color: rgb(17, 17, 17);">GoDaddy&nbsp;</span>provides a 30-day, money-back guarantee on all plans of 12 months or more.&nbsp; Try our WordPress Hosting for up to 30 days and remain eligible for a full refund if it doesn't meet your needs.&nbsp; For plans of less than 12 months, we offer a refund guarantee for the first 48 hours after purchase.
                            </p>
                        
                            <p id="id-4fb212bb-480c-44e2-be48-f4fa17b2dec0" class="disclaimer-item fos">
                            *  Annual discounts available on new purchases only.<br>
                            </p>
                        
                        
                        
                            <p id="id-3d230513-7a5f-4d3e-998d-a8046b250609" class="disclaimer-item fos">
                                Products will automatically renew until cancelled. You may turn off the auto-renewal feature by visiting your <span style="color: rgb(17, 17, 17);">GoDaddy&nbsp;</span>account.
                            </p>
                            
                            
                            
                            <p id="id-305f0e9e-81c0-44ca-9959-522c829b40f2" class="disclaimer-item fos">
                            Special introductory pricing valid for the initial purchase term only. Product renewal pricing subject to change.&nbsp; &nbsp;
                            </p>
                        
                        
                        
                            <p id="id-a4eb0dbe-9ef3-471d-86d8-6121615915e0" class="disclaimer-item fos">
                            SSL Certificate is free for 1 year with purchase. After the initial free year, SSL will automatically renew at the then-current price until cancelled. You may cancel automatic renewal at any time in your GoDaddy account. &nbsp;
                            </p>
                         </div>
            </div>
        </div>
    </div>
    
    <script>"use strict";(function(){const n=document.querySelector(".modal__content");var t=function(n){window.location.hash=n.target.hash;window.history.replaceState(null,null,window.location.href.replace(window.location.hash,""))},r=()=>{n.style.position="relative",n.style.visibility="hidden",setTimeout(()=>{n.style.position="absolute",n.style.visibility="initial"},200)},u=function(){document.addEventListener("keydown",function(n){n&&n.keyCode===27&&(document.body.style.overflow="inherit",t(n))})},i=function(n,i){for(var u=0;u<n.length;u++)n[u].addEventListener("click",function(n){n.preventDefault();document.body.style.overflow=i;t(n);i=="hidden"&&r()})};window.addEventListener("load",function(){var r=document.querySelectorAll(".modal-trigger a"),t,n;i(r,"hidden");t=document.querySelectorAll("a.modal__closeBk, a.modal__closeBtn, a.modal__additionalCloseBtn");i(t,"inherit");u();n=document.querySelector('div.modal__dialog[data-autoload-modal="true"]');n&&(window.location.href="#"+n.getAttribute("id"))},!1)})()</script>
</section>