
.cmsmega-nav{
    flex:1;
    display:flex
}

.cmsmega-nav .cms-nav{
    max-height:2.9rem;
    overflow:hidden;
    display:flex;
    flex:1;
    flex-wrap:wrap;
    padding-inline-start:0;
    margin-bottom:0
}

.cmsmega-nav, .cms-nav,  .fmenu, .cmsmega-nav,  .cms-nav .morelnk{
    display:inline-block;
    margin-inline-end:2.5rem;
    font-weight:600;
    cursor:pointer;
    margin-bottom:unset;
    padding-bottom:2rem
}

.cmsmega-nav,  .cms-nav, .fmenu>a,.cmsmega-nav, .cms-nav, .morelnk>a{
    opacity:.6
}

.cmsmega-nav, .cms-nav, .fmenu:hover>a, .cmsmega-nav, .cms-nav, .morelnk:hover>a{
    opacity:1
}

.cmsmega-nav,  .cms-nav, .fmenu{
    margin-inline-end:1.5rem;
    margin-bottom:unset;
    padding-bottom:2rem
}

.cmsmega-nav .cms-nav .fmenu.open{
    border-bottom:2px solid #111
}


.cmsmega-nav .content{
    color:var(--color-module-fg);--color-module-fg-inverse:#fff;
    background-color:#f5f7f8;
    --color-module-fg:#111;
    --color-module-bg:#f5f7f8;
    position:absolute;
    top:calc(100% + 1rem);
    visibility:hidden;
    box-shadow:0 .5rem .25rem -.5rem rgba(117,117,117,.25);
    z-index:1030;
    transform:scaleY(0);
    transform-origin:top;
    display:block;
    left:0;
    right:0;
    transition:all .3s cubic-bezier(.65,-.01,.26,1);
    flex:1;
    display:flex;
    justify-content:space-evenly;
    align-items:center
}

.cmsmega-nav .content .fmenu{
    margin:unset;
    padding-bottom:2rem;
    padding-top:2rem
}

.cmsmega-nav .content .fmenu:first-of-type{
    padding-inline-start:unset
}

.cmsmega-nav .content .tray-dropdown{
    top:100%
}

.cmsmega-nav .morelnk.open{
    font-weight:600;
    border-bottom:2px solid rgba(133, 91, 91, 0)
}

.cmsmega-nav .morelnk.open .content{
    visibility:visible;
    transform:scaleY(1)
}

.cmsmega-nav .tray-dropdown{
    color:var(--color-module-fg);
    background-color:#fff;
    --color-module-fg:#111;
    --color-module-bg:#f5f7f8;
    --color-module-fg-inverse:#fff;
    position:absolute;
    min-width:12.5rem;
    top:calc(100% + 1rem);
    visibility:hidden;
    box-shadow:0 .5rem .25rem -.5rem rgba(117,117,117,.25);
    z-index:1030;
    overflow:auto;
    transform:scaleY(0);
    transform-origin:top;
    display:block;
    height:auto;
    left:0;
    right:0;
    transition:all .3s cubic-bezier(.65,-.01,.26,1);
    overflow:hidden
}

.cmsmega-nav .tray-dropdown.open{
    transform:scaleY(1);
    visibility:visible;
    border-top:1px solid #d4dbe0
}


.cmsmega-nav .tray-dropdown.more{
    top:10.5rem
}



.cmsmega-nav .tray-content{
    position:absolute;
    display:flex;
    flex-wrap:nowrap;
    visibility:hidden;
    width:100%
}

.cmsmega-nav .tray-content.open{
    visibility:visible;
    display:flex;
    justify-content:space-between;
    text-align:start;
    overflow:hidden;
    opacity:1;
    transition-delay:.25s
}

.cmsmega-nav .tray-content.open ul,.cmsmega-nav .tray-content.open .tray-features{
    transform:none;
    opacity:1
}

.cmsmega-nav .tray-content>.container{
    padding:0 4vw
}

.cmsmega-nav .tray-content ul:nth-child(1){
    transition-delay:calc(100ms);
    animation-delay:0ms
}

.cmsmega-nav .tray-content ul:nth-child(2){
    transition-delay:calc(200ms);
    animation-delay:100ms
}

.cmsmega-nav .tray-content ul:nth-child(3){
    transition-delay:calc(300ms);
    animation-delay:200ms
}

.cmsmega-nav .tray-content ul:nth-child(4){
    transition-delay:calc(400ms);
    animation-delay:300ms
}

.cmsmega-nav .tray-content ul:nth-child(5){
    transition-delay:calc(500ms);
    animation-delay:400ms
}

.cmsmega-nav .tray-content ul:nth-child(6){
    transition-delay:calc(600ms);
    animation-delay:500ms
}

.cmsmega-nav .tray-content ul:nth-child(7){
    transition-delay:calc(700ms);
    animation-delay:600ms

}

.cmsmega-nav .tray-content ul:nth-child(8){
    transition-delay:calc(800ms);
    animation-delay:700ms
}

.cmsmega-nav .tray-content ul:nth-child(9){
    transition-delay:calc(900ms);
    animation-delay:800ms
}

.cmsmega-nav .tray-content ul:nth-child(10){
    transition-delay:calc(1000ms);
    animation-delay:900ms
}

.cmsmega-nav .tray-content ul{
    padding:0 4vw;
    margin-inline-end:-2px;
    margin-bottom:1.5rem;
    opacity:0;
    transition:opacity 2000ms linear,all 800ms cubic-bezier(.16,1,.3,1);
    transform:translate3d(-2rem,0,0)
}

.cmsmega-nav .tray-content ul>li:first-of-type{
    font-size:1.25rem
}

.cmsmega-nav .tray-lists{
    display:flex;
    flex-wrap:wrap;
    flex:2 3;
    min-width:25%;
    left:0;
    padding:2.5rem 0 0 2rem
}

.cmsmega-nav .tray-lists ul>li:not(:first-of-type){
    font-weight:400
}

.cmsmega-nav .tray-lists ul>li:not(:first-of-type) a:hover{
    text-decoration:underline
}

.cmsmega-nav .tray-features{
    flex:1 1;
    right:0;
    background-color:#f4f8fc;
    display:flex;
    opacity:0;
    transition:opacity 2000ms linear,all 800ms cubic-bezier(.16,1,.3,1);
    transform:translate3d(-2rem,0,0);
    -delay:.3s
}

.cmsmega-nav .tray-features>*{
    width:25vw
}

.cmsmega-nav .product-flyout-btn,.cmsmega-nav .flyout-panel-bkg,.cmsmega-nav .close,.cmsmega-nav .tray-dropdown-back{
    display:none
}



.basic-marquee .cmsmega-nav .tray-dropdown{
    margin-left:-4vw;
    margin-right:-4vw
}

.basic-marquee .cmsmega-nav .morelnk>.content{
    margin-left:-4vw;
    margin-right:-4vw
}

.basic-marquee .cmsmega-nav .morelnk>.content .tray-dropdown{
    margin:unset
}

html[dir="rtl"] .cmsmega-nav .tray-features .icon-right-arrow:after{
    transform:scaleX(-1)
}


.header-tray .tray-toggle{
    background-color:transparent;
    border:none;padding:0;
    cursor:pointer;
    display:flex;align-items:center;
    color:var(--color-module-fg,#111);
    white-space:nowrap;text-decoration:none;
    -webkit-appearance:none;
}

.no-scroll{
    overflow:hidden
}


@media(min-width:992px){
    .header-tray .tray-toggle:after{
        margin-left:.25rem;
        content:"î§";
        transform:rotate(90deg);
        font-family:uxfont
    }
}

.header-tray .tray-toggle:focus{
    outline:none
}

.header-tray:focus-within .tray-toggle{
    pointer-events:none
}

.header-tray:focus-within .tray-toggle:after{
    transform:rotate(270deg)
}


.header-tray:focus-within .tray-dropdown{
    -webkit-transform:scaleY(1);
    transform:scaleY(1);
    visibility:visible
}

.header-tray:focus-within .tray-content{
    opacity:1;
    -webkit-transition-delay:.25s;
    transition-delay:.25s
}


.header-tray .tray-dropdown{
    color:var(--color-module-fg);
    background-color:#f5f7f8;
    --color-module-fg:#111;
    --color-module-bg:#f5f7f8;
    --color-module-fg-inverse:#fff;
    position:absolute;
    min-width:12.5rem;
    top:calc(100% + 1rem);
    visibility:hidden;
    -webkit-box-shadow:0 .5rem .25rem -.5rem rgba(117,117,117,.25);
    box-shadow:0 .5rem .25rem -.5rem rgba(117,117,117,.25);
    z-index:1029;
    overflow:auto;
    -webkit-transform:scaleY(0);
    transform:scaleY(0);
    -webkit-transform-origin:top;
    transform-origin:top;
    display:block;
    height:auto;
    left:0;
    right:0;
    transition:all .3s cubic-bezier(.65,-.01,.26,1)
}




.header-tray .tray-dropdown .close{
    position:absolute;
    top:1rem;
    right:1rem;
    font-size:2rem
}

.header-tray .tray-content{
    -webkit-transition-delay:.1s;
    transition-delay:.1s;
    opacity:0;
    display:flex;
    justify-content:flex-end;
    align-items:stretch;
    text-align:start;
    overflow:hidden;
    flex-wrap:wrap;
    padding:2.5rem 0 0 0
}

.header-tray .tray-content>.container{
    padding:0 4vw
}

.header-tray .tray-content>*{
    flex:1 1 20em;
    padding:0 4vw;
    border-right:1px solid #2b2b2b;
    margin-right:-2px;
    margin-bottom:2.5rem
}

html[dir="rtl"] .header-tray .tray-dropdown .close{
    right:unset;
    left:1rem
}


.meganav-img-feature{
    padding-top:2.5rem;
    padding-bottom:2.5rem;
    text-decoration:none;
    padding-left:1rem;
    padding-right:1rem;
    color:var(--color-module-fg);
    font-weight:700
}

.meganav-img-feature .mega-nav-image{
    margin-bottom:2rem;
    margin-inline-end:1rem
}

.meganav-img-feature .icon{
    padding-inline-start:.5rem
}

.meganav-img-feature:hover{
    text-decoration:none;
    color:inherit;
    border:none
}

.icon.icon-right-arrow::after {
    mask: var(--icon-mask-right-arrow);
    -webkit-mask: var(--icon-mask-right-arrow);
}


:root {
    --icon-mask-right-arrow: url("data:image/svg+xml;utf-8")
}



:root {
--icon-mask-right-arrow: url("data:image/svg+xml;utf-8,<svg width='1.5rem' height='1.5rem' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path d='M43 273v-34h364l-87-88 24-23 126 128-126 128-24-23 87-88H43z' /></svg>");
}

.icon.icon-right-arrow::after {
mask: var(--icon-mask-right-arrow);
-webkit-mask: var(--icon-mask-right-arrow);
}



#id-7d271afe-5797-45f0-87af-860ab62caffe{
border: none;
}


.youtube-trigger{
    --btn-padding-x:0;
    padding-left:0;
    padding-right:0;
    cursor:pointer;
    display:inline-flex;
    align-items:center;
    color:var(--color-module-fg);
    border:none
}

.youtube-trigger:hover{
    color:#a88686
}

.youtube-trigger .play-button{
    margin-inline-end:.5rem
}

.youtube-trigger .play-button circle{
    stroke:var(--color-module-fg)
}

.youtube-trigger .play-button path{
    fill:var(--color-module-fg)
}
